DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB?schema=public"

BETTER_AUTH_SECRET="your-secret-here"
BETTER_AUTH_URL="http://localhost:3000"
CLIENT_URL="http://localhost:5173"
DB_PROVIDER="postgresql"

TEST_USER_EMAIL="admin@example.com"
TEST_USER_PASSWORD="password123"
